# Flight_Data_Scrap

In [84]:
import time  #importing libraries
import selenium
import pandas as pd 
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import StaleElementReferenceException
import warnings
warnings.filterwarnings('ignore')

In [85]:
from selenium.common.exceptions import NoSuchElementException,ElementClickInterceptedException, ElementNotVisibleException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [52]:

driver = webdriver.Chrome(r'C:\new chrome\chromedriver.exe')
driver.maximize_window()

In [53]:
url='https://www.easemytrip.com/'
driver.get(url)

In [56]:
searh=driver.find_element_by_xpath('//*[@class="src_btn"]').click()

In [71]:
airline=[]
code=[]
dep_time=[]
arrival=[]
price=[]
duration=[]
stops=[]


title= driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
for i in title:
    airline.append(i.text)

title= driver.find_elements_by_xpath('//span[@class="txt-r5"]')
for i in title:
    code.append(i.text)
    
title= driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]/span[1]')
for i in title:
    dep_time.append(i.text)
    
title= driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]/span[1]')
for i in title:
    arrival.append(i.text)
    
    
title= driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding"]')
for i in title:
    price.append(i.text)
    
title= driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
for i in title:
    duration.append(i.text)
title= driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
for i in title:
    stops.append(i.text)

In [72]:
len(airline) , len(code) , len(dep_time) , len(arrival) , len(price) , len(duration) , len(stops)

(150, 150, 150, 150, 150, 150, 150)

In [64]:
next=driver.find_element_by_xpath('//*[@class="col-md-2 col-xs-12 fltr no-padd txt-fon1"]')

In [109]:
url='https://www.easemytrip.com/'
driver.get(url)
time.sleep(1)
driver.find_element_by_xpath('//input[@class="src_btn"]').click()

In [110]:
df=pd.DataFrame()
column = ["Route","Airline","Code","Dep Time","Arrival","Price","Duration","Stops"]

j=1
while j < 5:
    date = driver.find_element_by_xpath('//div[@class="ai-d ng-binding fnt17"]').text
    print(date)
    
#    """"
    for i in driver.find_elements_by_xpath('//div[@class="col-md-12 col-sm-12 main-bo-lis pad-top-bot ng-scope"]'):
        route=date
        airline=""
        code=""
        dep_time = ""
        arrival = ""
        price =""
        duration = ""
        stops = ""

        airline = i.find_element_by_xpath('.//span[@class="txt-r4 ng-binding"]').text
        code = i.find_element_by_xpath('.//span[@class="txt-r5"]').text
        dep_time = i.find_element_by_xpath('.//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]/span[1]').text
        arrival = i.find_element_by_xpath('.//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]/span[1]').text
        price =  i.find_element_by_xpath('.//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding"]').text
        duration = i.find_element_by_xpath('.//span[@class="dura_md ng-binding"]').text
        stops = i.find_element_by_xpath('.//span[@class="dura_md2 ng-scope"]').text

        rows=[route,airline,code,dep_time,arrival,price,duration,stops]
        df = df.append(pd.DataFrame([rows], columns=column))
#    """      

    try:
        next=driver.find_element_by_xpath('//div[@class="col-md-2 col-xs-12 fltr no-padd txt-fon1"]/a[2]')
    except NoSuchElementException:
        break
    
    next.click()
    time.sleep(5)
    j=j+1    
    
df

Jun 29
Jun 30
Jul 01
Jul 02

     Route    Airline     Code Dep Time Arrival   Price Duration     Stops
0   Jun 29   SpiceJet  SG-8709    19:00   21:10   8,579  02h 10m  non-stop
0   Jun 29   SpiceJet  SG-8169    19:45   22:00   8,579  02h 15m  non-stop
0   Jun 29   SpiceJet  SG- 711    21:40   23:55   8,579  02h 15m  non-stop
0   Jun 29   GO FIRST  G8- 336    15:35   17:45   8,578  02h 10m  non-stop
0   Jun 29   GO FIRST  G8- 346    19:50   22:00   8,578  02h 10m  non-stop
..     ...        ...      ...      ...     ...     ...      ...       ...
0   Jul 02    Vistara   UK-839    13:45   22:35  23,068  08h 50m    1-stop
0   Jul 02    Vistara   UK-533    11:45   16:15  25,275  28h 30m    1-stop
0   Jul 02  Air India   AI-465    16:55   10:10          17h 15m    1-stop
0   Jul 02  Air India   AI-801    15:00   22:40          07h 40m    1-stop
0   Jul 02   GO FIRST  G8- 191    09:30   18:35  30,229  09h 05m    1-stop

[744 rows x 8 columns]

In [111]:
df

     Route    Airline     Code Dep Time Arrival   Price Duration     Stops
0   Jun 29   SpiceJet  SG-8709    19:00   21:10   8,579  02h 10m  non-stop
0   Jun 29   SpiceJet  SG-8169    19:45   22:00   8,579  02h 15m  non-stop
0   Jun 29   SpiceJet  SG- 711    21:40   23:55   8,579  02h 15m  non-stop
0   Jun 29   GO FIRST  G8- 336    15:35   17:45   8,578  02h 10m  non-stop
0   Jun 29   GO FIRST  G8- 346    19:50   22:00   8,578  02h 10m  non-stop
..     ...        ...      ...      ...     ...     ...      ...       ...
0   Jul 02    Vistara   UK-839    13:45   22:35  23,068  08h 50m    1-stop
0   Jul 02    Vistara   UK-533    11:45   16:15  25,275  28h 30m    1-stop
0   Jul 02  Air India   AI-465    16:55   10:10          17h 15m    1-stop
0   Jul 02  Air India   AI-801    15:00   22:40          07h 40m    1-stop
0   Jul 02   GO FIRST  G8- 191    09:30   18:35  30,229  09h 05m    1-stop

[744 rows x 8 columns]

In [113]:
df.to_csv('Easetrip_flight_data', index=False)